; Daphnis-2126 – triaxial ice ellipsoid, JPL ephemeris, 77 K ice density
Name = Daphnis
Mass = 2.254e14          ; solid water ice at 77 K, from Cassini dimensions
Size = 3900              ; mean radius for collision mesh, meters
AlbedoRGB = 0.82 0.78 0.73

EllipticOrbit = TRUE           ; assume unperturbed orbit
HasElements = TRUE             ; orbital elements follow


; Keplerian elements at 2000-01-01 12:00 TDB (from sat393_daphnis.bsp segment 0 1949-2010)
Epoch = 2000.0
ElReference = ParentEquator
SemiMajorAxis = 136505539   ; m
Eccentricity = 0.000019817153
Inclination = 0.0000288259        ; rad
LongAscNode = 1.8275244     ; rad
LongPerihelion = 1.2787636     ; rad
MeanLongitude = 2.6803063         ; rad

TileFormat = 2
MaxPatchResolution = 7           ; use explicit mesh
HorizonExcess = 15
BBExcess = 0.4
